@using WhatMovie.Models.ViewModels
@model LandingPageVM
@{
    ViewData["Title"] = "What Movie";
}

<div class="row">
    @foreach (var movie in Model.Upcoming!.Results!)
    {
   <div class="col-sm-3 mb-2">
        <div class="card" style="width: 18rem;">
            <img src="@movie.PosterPath" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@movie.Title</h5>
            <p class="card-text">@movie.Overview</p>
            <button class="btn btn-lg btn-warning">Details</button>
        </div>
        </div>
    </div>
    }
</div>

